/* Sidebar */
.sidebar{
  position: fixed;
  background: #F0F0F0;
  color: black;
  width: 270px;
  height: 100%;
  text-align: center;
}
.fancy-font{font-family: 'Raleway', sans-serif;}
.calm-font{font-family: 'Roboto Slab', serif;}
.sidebar-contact{
  text-align: left;
  padding-left: 20px;
}
.icon-img{
  height: 15px;
  width: 20px;
}
.logo-img{
  margin-top: 20px;
  height: 40px;
}
.profile-img{
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 50%;
  height: 150px;
}
.one-line{
  display:inline-block;
  line-height: 5px;
}
.nav-link{
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.nav-link:hover{
  text-decoration: underline;
  font-size: 25px;
}
.social-links{
  justify-content: space-between;
  margin: auto;
}
.social-links2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links i{
  color: black;
  font-size: 2.5em;
  padding: 8px;
}
/* Shake Animation */
@keyframes wiggle {
    0% { transform: rotate(0deg);}
   80% { transform: rotate(0deg);}
   85% { transform: rotate(10deg);}
   95% { transform: rotate(-10deg);}
  100% { transform: rotate(0deg);}
}
.wiggle{animation: wiggle 0.7s infinite;}
.wiggle2{animation: wiggle 1.2s infinite;}
.wiggle3{animation: wiggle 0.5s infinite;}
.wiggle:hover{animation: none;}
.wiggle2:hover{animation: none;}
.wiggle3:hover{animation: none;}

.content{
  background: #F0F0F0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F0F0F0, white);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-45deg,#F0F0F0, white, #F0F0F0, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 200% 200%;
  position: fixed;
  top: 0;
  left: 270px;
  width: 100%;
  height: 100%;
  overflow:auto;
}
.home-cell-grid{
  padding: 100px 0 0 100px;
}
.about-cell-grid{
  padding: 70px 0 0 70px;
}
.resume-box{
  border: 1px solid #27221F;
  background: white;
  color:black;
  padding: 2em;
  border-radius: 10px;
}
.contact-box{
  border: 1px solid #27221F;
  border-radius: 10px;
  background: white;
  color:black;
  padding: 2em;
  margin-top: 10%;
}
.hr-animation{
  border-top: 2px solid black;
  height: 0px;
  animation: increaseWidth 2s;
}
@keyframes increaseWidth {
  0% {width: 0;}
  100% {width: 100%;}
}
.two-column-list{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.italic{
  font-style: italic;
}
.btn{
  font-size: 30px;
  background-color: white; color: black;
  margin-top: 5px;
}
.sucsess  {
  margin: 20px 0;
  border: 1px solid green;
  padding: 7px;
  font-weight: bold;
}
.error {
  margin: 20px 0;
  border: 1px solid red;
  padding: 7px;
  font-weight: bold;
}

/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

/* If screen goes below 700px */
@media (max-width:700px) {
  .sidebar{width: 60px;}
  .sidebar-contact{visibility: hidden;}
  .name{visibility: hidden;}
  .profile-img{visibility: hidden;}
  .one-line{display:inline;}
  .nav-link-holder{margin-top:-400px;}
  .nav-link{font-size: 12px;}
  .nav-link:hover{font-size: 15px;}
  .social-links2{
    flex-direction: column; 
    margin-bottom: -20px;
  }
  .social-links i{font-size: 2.0em;}
  .content{left: 60px;}
}